# Code coverage
coverage
*.lcov

# Dependencies (bun install)
node_modules

# Editor directories and files
.vscode/*
!.vscode/extensions.json

# Finder (MacOS) folder config
.DS_Store

# IntelliJ based IDEs
.idea

# Logs
logs
*.log